@import "../scss/style-sheet";


.header_container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: solid 1px $gray-light;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header_div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header_text {
        margin-right: 30px;
        color: black;
        font-size: $font-size-medium;
        line-height: $line-height-medium;
        &:hover{
            color: $blue-dark;
            cursor: pointer;
        }

    }
    .header_search_input {
        width: 200px;
        margin-right: 30px;
        padding: 8px 16px;
        border : solid 1px $blue-medium-light;
        border-radius: 4px;
        box-shadow: none;
        &::placeholder {
            font-style: italic;
            color: $gray-light;
            font-size: $font-size-small;
        }
    }
    .header_button {
        background-color: $blue-medium;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: $font-size-medium;
        line-height: $line-height-medium;
        &:hover {
            cursor: pointer;
        }
    }
    .logo {
        width: 150px;
        margin-right: 40px;
    }

}

