// color scheme
$pink-flash: #EE1796;
$green-medium: #3BA63C;

$blue-medium-light: #009EE6;
$blue-medium: #00699a;
$blue-dark: #2A4F92;
$blue-very-dark: #142748;

$white: #FFFFFF;
$gray-very-light: #E9ECEF;
$gray-light: #BBC8D3;
$gray-medium-light: #ADB5BD;
$gray-medium: #6C757D;
$gray-heavy: #343A40;
$dark-medium: #212529;
$black: #000000;

// font-size
$font-size-very-large: 34px;
$font-size-large: 24px;
$font-size-medium-large: 18.75px;
$font-size-medium: 15px;
$font-size-small: 12px;


// line-height
$line-height-very-large: 41px;
$line-height-large: 29px;
$line-height-medium-large: 23px;
$line-height-medium: 18px;
$line-height-small: 14px;
